<div class="login-wrapper">
  <ion-card class="login-card">
    <ion-card-header>
      <ion-card-title class="login-card__title">
        Inicio de sesión
      </ion-card-title>
    </ion-card-header>

    <ion-card-content class="login-card__content">
      <form class="login-card__form" [formGroup]="loginForm">
        <div class="login-card__form-item">
          <ion-label>Correo Electrónico:</ion-label>
          <ion-input
            type="email"
            placeholder="Ingresa tu correo"
            formControlName="email"
          ></ion-input>
        </div>

        <div class="login-card__form-item">
          <ion-label>Contraseña:</ion-label>
          <ion-input
            type="password"
            placeholder="Ingresa tu contraseña"
            formControlName="password"
          ></ion-input>
        </div>

        <ion-button
          type="submit"
          (click)="login()"
          expand="block"
          class="login-card__form-button"
        >
          Iniciar sesión
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</div>
